#CajaEX{
    height: 30vh;
    width: 30vh;
    margin: 4.5vh;
    border: solid black 3px;
    border-radius: 2vh;
    background-color: blue;
}
#CajaMID{
    height: 20vh;
    width: 20vh;
    margin: 5vh;
    border: solid black 3px;
    border-radius: 2vh;
     background-color: red;
}
#CajaIN{
    height: 10vh;
    width: 10vh;
    margin: 4.5vh;
    border: solid black 3px;
    border-radius: 2vh;
     background-color: yellow;
}